
body {
    background-color: lightblue;
}


.contenido-principal {
    font-size: 20px;
}


.titulo-destacado {
    color: white;
    text-decoration: underline;
}


.texto-advertencia {
    font-weight: bold;
    color: navy;
}

.texto-mayusculas {
    text-align: justify;
    text-transform: uppercase;
}

.texto-nota {
    font-size: 12px;
}

.termino-cursiva {
    font-style: italic;
}